#pizza {
  background-color: #e5f8ff;
}
#pizza header {
  padding: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
#pizza header .right-header {
  flex: 1 0 auto;
}
#pizza header .right-header h2 {
  color: #71829e;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 1px;
}
@media screen and (max-width: 600px) {
  #pizza header .right-header h2 {
    font-size: 1em;
  }
}
#pizza header .left-header {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}
#pizza header .left-header .icons-list {
  display: flex;
  flex-direction: row;
}
#pizza header .left-header .icons-list span {
  margin-left: 30px;
  margin-top: 0px;
  cursor: pointer;
}
#pizza header .left-header .icons-list span i {
  color: #71829e;
  font-size: 1.5em;
}

.pizza-content {
  overflow-y: scroll;
  height: 100vh;
  padding: 50px;
}
.pizza-content::-webkit-scrollbar {
  display: none;
}
.pizza-content .pizza-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.pizza-content .pizza-wrapper .pizza-first {
  z-index: 1000 !important;
  margin-top: -150px;
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  overflow: hidden;
  position: relative;
}
.pizza-content .pizza-wrapper .pizzaExtras {
  display: none;
}
.pizza-content .pizza-wrapper .pizza-breads {
  position: relative;
  width: 100%;
}
.pizza-content .pizza-wrapper .pizza-breads .bread-list {
  width: 180px;
}
.pizza-content .pizza-wrapper .pizza-breads .bread-list img {
  width: 100%;
  height: 100%;
}
.pizza-content .pizza-wrapper .pizza-breads .bl1 {
  cursor: pointer;
  position: absolute;
  bottom: -155px;
  left: 0px;
  z-index: 10;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transition: filter, transform 0.3s ease-in-out;
  -webkit-transition: filter, transform 0.3s ease-in-out;
  -moz-transition: filter, transform 0.3s ease-in-out;
  -ms-transition: filter, transform 0.3s ease-in-out;
  -o-transition: filter, transform 0.3s ease-in-out;
  -webkit-animation-name: bl1;
          animation-name: bl1;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
.pizza-content .pizza-wrapper .pizza-breads .bl1:hover {
  filter: blur(0px) drop-shadow(0px 0px 5px rgba(172, 172, 172, 0.8));
  -webkit-filter: blur(0px) drop-shadow(0px 0px 5px rgba(104, 104, 104, 0.8));
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
@-webkit-keyframes bl1 {
  0% {
    bottom: -250px;
  }
}
@keyframes bl1 {
  0% {
    bottom: -250px;
  }
}
.pizza-content .pizza-wrapper .pizza-breads .bl2 {
  cursor: pointer;
  position: absolute;
  bottom: -155px;
  right: 0px;
  z-index: 10;
  cursor: pointer;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transition: filter, transform 0.3s ease-in-out;
  -webkit-transition: filter, transform 0.3s ease-in-out;
  -moz-transition: filter, transform 0.3s ease-in-out;
  -ms-transition: filter, transform 0.3s ease-in-out;
  -o-transition: filter, transform 0.3s ease-in-out;
  -webkit-animation-name: bl1;
          animation-name: bl1;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
.pizza-content .pizza-wrapper .pizza-breads .bl2:hover {
  filter: blur(0px) drop-shadow(0px 0px 5px rgba(172, 172, 172, 0.8));
  -webkit-filter: blur(0px) drop-shadow(0px 0px 5px rgba(172, 172, 172, 0.8));
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}
@keyframes bl1 {
  0% {
    bottom: -250px;
  }
}
.pizza-content .pizza-wrapper .pizza-breads .bl3 {
  cursor: pointer;
  position: absolute;
  top: -155px;
  width: 280px;
  left: 50%;
  right: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-animation-name: bl3;
          animation-name: bl3;
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pizza-content .pizza-wrapper .pizza-breads .bl3 .leftbl3 {
  display: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
@-webkit-keyframes bl3 {
  0% {
    top: 155px;
    width: 0px;
    opacity: 0;
  }
}
@keyframes bl3 {
  0% {
    top: 155px;
    width: 0px;
    opacity: 0;
  }
}
.pizza-content .pizza-wrapper .rotateLeft {
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
@-webkit-keyframes left {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
@keyframes left {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
.pizza-content .pizza-wrapper .rotateRight {
  -webkit-animation-name: right;
          animation-name: right;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
@-webkit-keyframes right {
  0% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
@keyframes right {
  0% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
.pizza-content .pizza-wrapper .pizza-main-box {
  order: -1;
  width: 300px;
  position: relative;
}
.pizza-content .pizza-wrapper .pizza-main-box .plate {
  position: relative;
}
.pizza-content .pizza-wrapper .pizza-main-box .plate .plates {
  filter: drop-shadow(0px 0px 5px rgba(116, 116, 116, 0.8));
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-animation-name: plate;
          animation-name: plate;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes plate {
  0% {
    top: -500px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes plate {
  0% {
    top: -500px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .plate .bread {
  position: absolute;
  left: 10px;
  top: 10px;
  -webkit-animation-name: breads;
          animation-name: breads;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen and (max-width: 782px) {
  .pizza-content .pizza-wrapper .pizza-main-box .plate .bread {
    width: 500px;
    height: 500px;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .plate .bread img {
  width: 100%;
  height: 100%;
}
@-webkit-keyframes breads {
  0% {
    opacity: 0;
    width: 900px;
    height: 900px;
    left: -100px;
    top: 100px;
  }
  100% {
    left: 10px;
    top: 10px;
    opacity: 1;
  }
}
@keyframes breads {
  0% {
    opacity: 0;
    width: 900px;
    height: 900px;
    left: -100px;
    top: 100px;
  }
  100% {
    left: 10px;
    top: 10px;
    opacity: 1;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts img {
  width: 50px;
  height: auto;
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts .vp-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts .vp-image .vp1 {
  position: absolute;
  top: -40px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-animation-name: vp1;
          animation-name: vp1;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes vp1 {
  0% {
    opacity: 0;
    left: -100px;
    top: 100px;
  }
  100% {
    top: -40px;
    left: 50%;
    right: 50%;
    opacity: 1;
  }
}
@keyframes vp1 {
  0% {
    opacity: 0;
    left: -100px;
    top: 100px;
  }
  100% {
    top: -40px;
    left: 50%;
    right: 50%;
    opacity: 1;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts .vp-image .vp2 {
  position: absolute;
  top: 100px;
  left: -60px;
  -webkit-animation-name: vp2;
          animation-name: vp2;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes vp2 {
  0% {
    opacity: 0;
    left: 100px;
    top: -100px;
  }
  100% {
    top: 100px;
    left: -60px;
    opacity: 1;
  }
}
@keyframes vp2 {
  0% {
    opacity: 0;
    left: 100px;
    top: -100px;
  }
  100% {
    top: 100px;
    left: -60px;
    opacity: 1;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts .vp-image .vp3 {
  position: absolute;
  top: 100px;
  right: -60px;
  -webkit-animation-name: vp3;
          animation-name: vp3;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes vp3 {
  0% {
    opacity: 0;
    left: 100px;
    top: -100px;
  }
  100% {
    top: 100px;
    right: -60px;
    opacity: 1;
  }
}
@keyframes vp3 {
  0% {
    opacity: 0;
    left: 100px;
    top: -100px;
  }
  100% {
    top: 100px;
    right: -60px;
    opacity: 1;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts .vp-image .vp4 {
  position: absolute;
  top: 80%;
  left: -30px;
  -webkit-animation-name: vp4;
          animation-name: vp4;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes vp4 {
  0% {
    opacity: 0;
    left: 100px;
    top: -100px;
  }
  100% {
    top: 80%;
    left: -30px;
    opacity: 1;
  }
}
@keyframes vp4 {
  0% {
    opacity: 0;
    left: 100px;
    top: -100px;
  }
  100% {
    top: 80%;
    left: -30px;
    opacity: 1;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts .vp-image .vp6 {
  position: absolute;
  top: 80%;
  right: -60px;
  -webkit-animation-name: vp6;
          animation-name: vp6;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes vp6 {
  0% {
    opacity: 0;
    top: -80%;
    right: 800px;
  }
  100% {
    top: 80%;
    right: -60px;
    opacity: 1;
  }
}
@keyframes vp6 {
  0% {
    opacity: 0;
    top: -80%;
    right: 800px;
  }
  100% {
    top: 80%;
    right: -60px;
    opacity: 1;
  }
}
.pizza-content .pizza-wrapper .pizza-main-box .veg-parts .vp-image .vp5 {
  position: absolute;
  bottom: -60px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-animation-name: vp5;
          animation-name: vp5;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes vp5 {
  0% {
    opacity: 0;
    top: 0px;
    left: -900px;
  }
  100% {
    bottom: -60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes vp5 {
  0% {
    opacity: 0;
    top: 0px;
    left: -900px;
  }
  100% {
    bottom: -60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.bl2fade-enter-active,
.bl2fade-leave-active {
  position: relative;
  bottom: -155px;
  transition: opacity 0.5s;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.bl2fade-enter,
.bl2fade-leave-active {
  opacity: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.pizza-content {
  overflow: hidden;
}

.nextPage {
  width: 100vw !important;
  height: 100vh !important;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}
.nextPage .bl1,
.nextPage .bl2 {
  display: none;
}
.nextPage .pizza-main-box {
  top: -180px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nextPage .bl3 {
  bottom: -490px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nextPage .veg-parts {
  display: none;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nextPage .pizzaExtras {
  z-index: 1000 !important;
  display: block !important;
  position: absolute;
  width: 100%;
}
.nextPage .pizzaExtras .pe-wrapper {
  position: relative;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose {
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: -170px;
  background-color: #e5f8ff;
  border-radius: 50%;
  right: -500px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative {
  position: relative;
  width: 100%;
  height: 100%;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .i-lists {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #fefefe;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .i-lists img {
  width: 100%;
  height: 100%;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .i-lists:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .il1 {
  position: absolute;
  bottom: 500px;
  left: -10px;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .il2 {
  position: absolute;
  bottom: 350px;
  left: -30px;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .il3 {
  position: absolute;
  bottom: 200px;
  left: 0px;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .il4 {
  position: absolute;
  bottom: 50px;
  left: 120px;
}
.nextPage .pizzaExtras .pe-wrapper .image-choose .image-relative .il5 {
  position: absolute;
  bottom: 320px;
  left: 150px;
  width: 100px;
  height: 100px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */