//** starting from here

@import "./parts/heading";
@import "./parts/pizza-content";
@import "./parts/animation";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: #e5f8ff;
  overflow: hidden;
}
