//** starting from here

@import "./parts/heading";
@import "./parts/pizza-content";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: none;
}

html {
  background-color: #2c2f38;
  overflow: hidden;
}
