<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Nepali Cart</title>

    <!-- css -->
    <link rel="stylesheet" href="./scss/style.css">

    <!-- ? Vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


    <!-- c  Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- ! icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
</head>

<body>


    <div id="pizza">
        <header :style="[nextpage==false?{'background-color':'#ffffff'}:{'background-color':'#e5f8ff'}]">
            <div class="right-header">
                <h2>Pizzas</h2>
            </div>
            <div class="left-header">
                <div class="icons-list">


                    <span><i class="uil uil-search"></i></span>
                    <span><i class="uil uil-heart"></i></span>
                    <span><i class="uil uil-shopping-bag"></i></span>

                </div>
            </div>
        </header>
        <div class="pizza-content">
            <div class="pizza-wrapper">
                <div :class="{nextPage:nextpage==false}" class="pizza-first">
                    <div class="pizza-breads">

                        <!-- c bl1 -->
                        <div @click=" swapFunc()" class="bread-list bl1">
                            <img v-if="imageSwap === true" src=" ./images/pizza/Bread/Bread_1.png" alt="">
                            <img v-else src=" ./images/pizza/Bread/Bread_3.png" alt="">
                        </div>


                        <!-- c bl2 -->
                        <div @click=" leftSwapFunc()" class="bread-list bl2">
                            <transition name="bl2fade">
                                <img key='start' v-if="leftSwap===true" src="./images/pizza/Bread/Bread_4.png" alt="">
                                <img key='stop' v-else src="./images/pizza/Bread/Bread_3.png" alt="">

                            </transition>
                        </div>

                        <!-- c bl3 -->
                        <div @click="nextPageFunc()" class="bread-list  bl3">
                            <div :class="{leftbl3:leftSwap===false}" class="left-image">
                                <img v-if="imageSwap === true" src=" ./images/pizza/Bread/Bread_3.png" alt="">
                                <img v-else src=" ./images/pizza/Bread/Bread_1.png" alt="">


                            </div>

                            <div :class="{leftbl3:leftSwap===true}" @click="leftSwapFunc()" class="right-image">
                                <img :style="{display:'none'}" v-if="leftSwap===true"
                                    src="./images/pizza/Bread/Bread_3.png" alt="">
                                <img v-else src="./images/pizza/Bread/Bread_4.png" alt="">
                            </div>


                        </div>
                    </div>
                    <div :class="{rotateLeft:imageSwap==false,rotateRight:leftSwap==false}" class="pizza-main-box">
                        <div class="plate">
                            <img class="plates" src="./images/pizza/Plate.png" alt="">
                            <!-- <div class="bread">
                                <img src="./images/pizza/Bread/Bread_1.png" alt="">
                            </div> -->
                        </div>
                        <div class="veg-parts">
                            <div class="vp-image">
                                <img class="vp1" src="./images/pizza/Basil/Basil_9.png" alt="">
                                <img class="vp2" src="./images/pizza/Broccoli/Broccoli_1.png" alt="">
                                <img class="vp3" src="./images/pizza/Extra/GreenSweetPepper.png" alt="">
                                <img class="vp4" src="./images/pizza/Mushroom/Mushroom_1.png" alt="">
                                <img class="vp5" src="./images/pizza/Onion/Onion_1.png" alt="">
                                <img class="vp6" src="./images/pizza/Sausage/Sausage_1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="pizzaExtras">
                        <div class="pe-wrapper">
                            <div class="image-choose">
                                <div class="image-relative">
                                    <div class="i-lists il1">
                                        <img src="./images/pizza/Extra/GreenSweetPepper.png" alt="">
                                    </div>
                                    <div class="i-lists il2">
                                        <img src="./images/pizza/Extra/Pineapple.png" alt="">
                                    </div>
                                    <div class="i-lists il3">
                                        <img src="./images/pizza/Extra/Red Bell Pepper Chop.png" alt="">
                                    </div>
                                    <div class="i-lists il4">
                                        <img src="./images/pizza/Extra/Red Bell Pepper Sliced.png" alt="">
                                    </div>
                                    <div class="i-lists il5">
                                        <img src="./images/pizza/Extra/Thyme branch.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="images-list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./vue/index.js"></script>
</body>

</html>